### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Set path for file
# Store file path in a variable
csv_path = "Resources/purchase_data.csv"

In [3]:
# Read our Data file with the pandas library
purchase_data = pd.read_csv(csv_path)

# Show just the header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [4]:
# Find unique players to calculate the total number of players
Total_Players = purchase_data["SN"].unique()
Total_Players
len(Total_Players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Find number of unique items
Number_of_Unique_Items =len(purchase_data["SN"].unique())

# Find average price
Average_Price = sum(purchase_data["Price"])/len(purchase_data["Price"])

# Find number of purchases
Number_of_Purchases =purchase_data["Item Name"].count()

# Find total revenue
Total_Revenue =sum(purchase_data["Price"])

# Create a summary table to display results
d = {'Number of Unique Items':pd.Series([Number_of_Unique_Items]),
     'Average Price':pd.Series([Average_Price]),'Number of Purchases':pd.Series([Number_of_Purchases]),
     'Total Revenue':pd.Series([Total_Revenue])}

# Format the table for average price and revenue values
df = pd.DataFrame(d)
print (df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Collect a list of all the unique values in "Gender"
purchase_data["Gender"].unique()

# Looking only at Male players
Male_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
Male_purchase_data_df.head()

Total_Male_Players = Male_purchase_data_df["SN"].unique()
len(Total_Male_Players)

484

In [7]:
# Looking only at female players
Female_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
Female_purchase_data_df.head()

Total_Female_Players = Female_purchase_data_df["SN"].unique()
len(Total_Female_Players)

81

In [8]:
# Looking only at Other/Non-Disclosed players
Other_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
Other_purchase_data_df.head()

Total_Other_Players = Other_purchase_data_df["SN"].unique()
len(Total_Other_Players)

11

In [9]:
# Total count by gender and divivde by total players 
total_count_gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                   "Total Number":[len(Total_Male_Players),len(Total_Female_Players),len(Total_Other_Players)],
                                   "Percentage": [len(Total_Male_Players) / len(Total_Players) * 100, len(Total_Female_Players) / len(Total_Players) * 100, len(Total_Other_Players) / len(Total_Players) * 100]}
                                 )

total_count_gender_df

                  Gender  Total Number  Percentage
0                   Male           484   84.027778
1                 Female            81   14.062500
2  Other / Non-Disclosed            11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Count the total purchases by gender 
Male_purchase_count = Male_purchase_data_df["Purchase ID"].count()
Female_purchase_count = Female_purchase_data_df["Purchase ID"].count()
Other_purchase_count =Other_purchase_data_df["Purchase ID"].count()

# Average purchase prices by gender
avg_M_purchase_price = Male_purchase_data_df["Price"].mean()
avg_F_purchase_price = Female_purchase_data_df["Price"].mean()
avg_O_purchase_price = Other_purchase_data_df["Price"].mean()

# Average purchase total by gender 
Male_purchase_total =sum(Male_purchase_data_df["Price"])
avg_Male_purchase_total =Male_purchase_total/len(Total_Male_Players)
Female_purchase_total =sum(Female_purchase_data_df["Price"])
avg_Female_purchase_total =Female_purchase_total/len(Total_Female_Players)
Other_purchase_total =sum(Other_purchase_data_df["Price"])
avg_Other_purchase_total =Other_purchase_total/len(Total_Other_Players)

# Create data frame with obtained values
index = ['Male', 'Female', 'Other']
gender_demographics = pd.DataFrame({"Purchase Count": [Male_purchase_count,Female_purchase_count, Other_purchase_count], 
                                   "Average Purchase Price":[avg_M_purchase_price,avg_M_purchase_price,avg_O_purchase_price],
                                    "Total Purchase Value":[Male_purchase_total,Female_purchase_total,Other_purchase_total],
                                    "Avg Purchase Total per Person": [avg_Male_purchase_total,avg_Female_purchase_total,avg_Other_purchase_total]},
                                    index=index)

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# Create the bins in which Data will be held
# Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34,35-39,40+.   
bins = [0,9,14,19,24,29,34,39,100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
#Age_Demographics = purchase_data["Age"].unique()
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group_count = purchase_data.groupby(["Age Demographics","SN"]).size().groupby("Age Demographics").count()
age_group_count

#DataFrame-How many players in each age group?
age_group_count_df = pd.DataFrame(age_group_count)
players_group_by_age =age_group_count_df.columns = ['Total Count']
age_group_count_df

Percentage_of_Players =age_group_count_df["Percentage of Players"]=age_group_count_df["Total Count"]/age_group_count_df["Total Count"].sum()*100
Age_Demographics_df=age_group_count_df.round(2)
Age_Demographics_df

                  Total Count  Percentage of Players
Age Demographics
<10                       576                   12.5
10-14                     576                   12.5
15-19                     576                   12.5
20-24                     576                   12.5
25-29                     576                   12.5
30-34                     576                   12.5
35-39                     576                   12.5
40+                       576                   12.5

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Bin the purchase_data data frame by age
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()

#Group by Age Range
group = purchase_data.groupby("Age Range")

# Purchase Count
sn_count = purchase_data.groupby(["Age Range"]).count()["Age"]
sn_count

# Average Purchase Price
average_price = purchase_data.groupby(["Age Range"]).mean()["Price"]
average_price

# Total Purchase Value
total_purchase_value = purchase_data.groupby(["Age Range"]).sum()["Price"]
total_purchase_value

# Avg Total Purchase Per Person
avg_total_purch_per = total_purchase_value /age_group_count_df['Total Count']
avg_total_purch_per

table = pd.DataFrame({"Purchase Count": sn_count,
                      "Average Purchase Value": average_price, 
                      "Total Purchase Value": total_purchase_value, 
                      "Avg Total Purchase per Person": avg_total_purch_per})
table_formated=table.round(2)
table_formated

,Purchase Count,Average Purchase Value,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.35,77.13,0.13
10-14,28,2.96,82.78,0.14
15-19,136,3.04,412.89,0.72
20-24,365,3.05,1114.06,1.93
25-29,101,2.90,293.00,0.51
30-34,73,2.93,214.00,0.37
35-39,41,3.60,147.67,0.26
40+,13,2.94,38.24,0.07

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
purchase_data.head()

# Group purchase data by names
spender_stats = purchase_data.groupby("SN")
# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()
# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()
# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
sorted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders = sorted_spenders.round (2)
formatted_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
item_stats = purchase_data.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
item_count = item_stats["Price"].count()

# Calculate total purchase value 
item_purchase_value = item_stats["Price"].sum()

# Find individual item price
item_price = item_purchase_value/item_count

# Create data frame with obtained values
popular_items = pd.DataFrame({"Purchase Count": item_count,
                             "Item Price": item_price,
                             "Total Purchase Value":item_purchase_value})
# Sort in descending order to obtain top 5 popular items 
sorted_top_items = popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
formatted_top_items = sorted_top_items.round (2)
formatted_top_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
Most_Profitable_Items =popular_items.sort_values('Total Purchase Value', ascending=False).head()
Most_Profitable_Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80